body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

button {
    width: 25%;
    height: 75px;
    font-size: 50px;
}

button:hover {
    font-weight:bold;
    color: blue;
}

#lists ul{
    
    list-style-type:none;
    margin:0;
    padding:0;
}

#lists ul li a
{
    text-decoration: none;
    display:block;
    width:100%;
    padding: 10.5px 11px;
    background-color: #ccffcc;
    border: 1px #ffff00 dashed;

}
