body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#main-menu {
    position: relative;
    height: 5em;
    top: 0px;
    width: 100%;
}

#main-menu button {
    width: 25%;
    height: 100%;
    font-size: 20px;
    float: left;
}

#lists ul{
    position: relative;
    list-style-type:none;
    margin:0;
    margin-top: 0; 
    padding:0;
}

#lists li {
    display:block;
    width:100%;
    height: 5em;
    border-bottom: solid 1px #CCC;
    -webkit-transition: background-color 3s;
    -moz-transition: background-color 3s;
    -o-transition: background-color 3s;
    -ms-transition: background-color 3s;
    transition: background-color 3s;
}
#lists li:hover {
background-color: #A7B526;
}
#lists ul li a {
    text-decoration: none;
    font-size: 2em;
    padding: 14px;
}

#lists ul li a.list {
    float: left;
}



#lists ul li input {
    height: 100%;
    float: left;
    width: 80%;
    font-size: 2em;
    padding: 14px;
}

#lists ul li span {
    font-size: 2em;
    padding: 20px;
    float: right;
}

#lists ul li input[type="checkbox"] {
    font-size: 2em;
    padding: 0;
    float: right;
    height: 2em;
    width: 2em;
}

.g-signin {
    position: relative;
    top: 100px;
    
    
}
#search {
    position: relative;
    height: 0;
    width: 100%;

}
#search input {
    margin: 5px;
    height: 60%;
    float: left;
    width: 60%;
    font-size: 1.5em;
}
#search button {
    width: 25%;
    height: 90%;
    float: right;
    margin: 5px;
    font-size: 1.5em;
}

